@using Newtonsoft.Json.Linq;
@{
	ViewData["title"] = "Loan Applications";
}

<h1 class="text-center">Loan Applications</h1>

@{
	dynamic applications = ViewData["applications"]!;
	var isAdmin = Context.Request.Cookies["role"] == "admin";
}

@if (((List<dynamic>)applications).Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Debit From</th>
				<th>Duration</th>
				<th>Status</th>
				@if (isAdmin)
				{
					<th></th>
					<th></th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var application in (List<dynamic>)applications)
			{
				<tr>
					<td>@(application.amount)</td>
					<td>@(application.debitFrom)</td>
					<td>@(application.duration)</td>
					<td class="@(application.statusTextClass)">@(application.status)</td>
					@if (isAdmin && application.status == "Pending")
					{
						<td><a class="btn btn-primary" asp-route="LoanApprove" asp-route-id="@application.Id">Approve</a></td>
						<td><a class="btn btn-primary" asp-route="LoanReject" asp-route-id="@application.Id">Reject</a></td>
					}
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p class="lead">You haven't applied for any loans yet</p>
}